@model IEnumerable<WiredExamApp.Models.Exam>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="well">
    <h6>Select an article to get exam</h6>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShortDate)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a href="/examview/index/@item.Id"> @Html.DisplayFor(modelItem => item.Title) </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShortDate)
                </td>
            </tr>
        }

    </table>
</div>
