body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/

/*Override Bootstrap*/
.selection p {
    margin: 0 0 0 7px;
}

.bg-success {
    background-color: #02A505;
}

.bg-danger {
    background-color: #EA1604;
    color: white;
}

/*App Style*/

.exam {
    border: 2px black solid;
    padding: 15px 10px 20px;
    margin-top: 20px;
}

.question {
    margin: 10px 0 15px;
}

.selection {
    border: 2px black solid;
    padding: 3px;
    margin: 4px;
}

.selection:hover {
    cursor: pointer;
}